@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&family=Poppins:wght@300&display=swap');

* {

  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Playfair Display', serif;
}

body {

  background-color: white;
  overflow-x: hidden;

}

/* Navbar section starts*/

#navvv {
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.09);
}

.logo-swiggy img {
  width: 70px;
  height: 55px;

}

.navbar-nav i {
  color: #000;
}

/*.navbar-nav a:hover {
    border-bottom: 3px solid #317aab;
}*/

.dropdown a {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  padding-left: 2rem;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000;
}

.nav-link a {
  color: #000;
}

#nav:hover {
  color: #FC8019;
}

.bi:hover {
  color: #FC8019;
}

/* Navbar section ends*/

/*Home section starts*/

.home {
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

.home .content {
  font-family: Poppins;
  color: #000;
  font-style: bold;
  font-weight: 600;
  margin-bottom: 2rem;
}

.btn1 .btn-outline-secondary {
  /* margin-right: 12px;*/
  border-radius: 18px;
  box-shadow: grey;
  font-family: Montserrat;
  font-size: 14px;
  margin-bottom: 4px;
}

/*Home section starts*/

/*image carousal section*/

.content {
  font-family: Poppins;
  color: #000;
  font-style: bold;
  font-weight: 600;
  margin-bottom: 3rem;
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.side-track {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 40s linear infinite;
  width: calc(100px*14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100px * 7));
  }
}

/*image carousal section*/

/*Restaurant Section starts*/

.restaurant {
  margin-top: 1rem;
}

.restaurant img {
  width: 255px;
  height: 180px;
  border-radius: 18px;
}

.restaurant .sub-heading {
  margin-top: 1rem;
  margin-left: .5rem;
}

.restaurant .heading {
  /*font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;*/

  font-family: Poppins;
  color: #000;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
}

.restaurant .para {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;

}

#col1 {
  transition: transform .2s;
}

#col1:hover {
  -ms-transform: scale(.95);
  transform: scale(.95);
}

/*Restaurant section ends*/

.line {
  color: gray;
  border: 1.5px solid;
  margin: 35px 90px 50px 120px;
}

.places #col2 {
  font-family: Montserrat;
  font-size: 14px;
  padding: 14px;
  box-sizing: border-box;
  border: 1.5px solid grey;
  border-radius: 12px;
  text-align: center;
  color: black;
  font-weight: 500;
  /* margin-right: 1rem;*/

  margin: 0rem 1rem 1rem;
}

/*places section ends*/

/*Cuisines section starts*/

.cuisines {
  margin-top: 2rem;
}

.cuisines #col2 {
  font-family: Montserrat;
  font-size: 14px;
  padding: 14px;
  box-sizing: border-box;
  border: 1.5px solid grey;
  border-radius: 12px;
  text-align: center;
  color: black;
  font-weight: 500;
  margin: 0rem 1rem 1rem;

}

/*cuisine section ends*/

/* Explore section starts*/

.explore {
  padding-top: 2rem;
}

.explore #col2 {
  font-family: Montserrat;
  font-size: 14px;
  padding: 14px;
  box-sizing: border-box;
  border: 1.5px solid grey;
  border-radius: 12px;
  text-align: center;
  color: black;
  font-weight: 500;
  margin: 0rem 1rem 1rem;

}

/* Explore section ends*/

/*Footer section starts*/

.footer {
  margin: 130px 0 0;
  padding: 55px 45px 39px 60px;
  background-color: #000;
  color: #fff;
}

.footer-col .logo1 {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
}

.footer-col .foo {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  padding-left: 1.6rem;

}

.footer-col h4 {
  margin-bottom: 25px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #fff;
}

.footer-col a {
  text-decoration: none;
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.08;
  letter-spacing: 0.6px;
  color: #fff;

}

.footer-col .content_nav a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col #col2 {
  font-family: Montserrat;
  font-size: 14px;
  padding: 0;
  border-radius: 12px;
  color: white;
  font-weight: 500;
}

/*Footer section ends*/



/* mobile responsive*/

@media screen and (max-width: 426px) {
  /* places #col2
{
    margin-right: 0.5rem;
}*/

}


/*Tablet Responsive*/

@media screen and (min-width:769px) {

  /*.places #col2
{
    margin-right: 2rem;
}*/

}
